<div content-for="title">
  <h3>Welcome</h3>
  <span class="subtitle">您已经成功连接“上海小南国（虹桥店）”免费WIFI网络</span>
</div>
<div class="scrollable code">
  <div class="scrollable-content section">
    <div bs-panel title="您的就餐号码：">
      <br/>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 code-block">
            A 17
        </div>
      </div>
      <br/>
      <br/>
      <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-12 wait-block">
            您还需要等待 <span class="wait-number">{{ waitingNum }}</span> 桌
        </div>
        
      </div>
    </div>
    
  </div>
</div>