.gencode a.thumbnail.active,
.gencode a.thumbnail:focus{
    background-color: @brand-primary;
    color: @app-content-bg-color;
}
.genrow{
    padding-left: @genrow-boundary;
    padding-right: @genrow-boundary;
    margin-left: 0;
    margin-right: 0;
}
.genblock{
    padding-left: @genblock-gap;
    padding-right: @genblock-gap;
}
.gennum{
    text-align: center;
    margin-bottom:0;
    font-size: @gencode-font-size;
}
.custom-code{
    text-align: center;
    font-weight: bold;
    font-size: @custom-code-font-size;
    height: @custom-code-height;
}
.block-height{
    height: @custom-code-height;
}